
body {
    font-family: 'Montserrat', sans-serif;
}


button {
  background-color: rgb(3, 35, 139);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

input {
  border: 2px solid rgb(3, 35, 139);
  color: rgb(3, 35, 139);
  padding: 4px;
  border-radius: 8px;
  outline: none;
}

h2 {
  color: rgb(3, 35, 139);
  font-size: 20px;
  font-weight: 700;
}

p {
  color: rgb(3, 35, 139);
  font-size: 15px;
}

span {
    display: inline-block;
    width: 200px;
    border: 2px solid rgb(3, 35, 139);
    margin-bottom: 5px;
    border-radius: 8px;
    padding: 4px;
}

